/* .canvas_styles {
  border: 1px solid #000000;
} */
.container_dollars {
  position: absolute;
  top: -128px;

  left: calc((100% - 1024px) / 3);

  z-index: 1;
}
.block_dollars {
  display: flex;
}
.dollar_svg {
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 50px;
}
